/*regole generali*/
.page {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-align: center;
  }

/*fine regole*/

/*layout immagini e scritte*/
img {
  height: 320px;
  position: relative;
  z-index: 1;
}
.thirty{
  background: green;
}
.five{
  background-color: red;
}
/*fine layout*/

/*disposizione elementi contenitore*/
.product{
  display: inline-block;
  position: relative;
}
.discount{
  position: absolute;
  top: 0;
  right: 0;
  z-index:1;
}
.heart{
  font-size: 50px;
  position: absolute;
  bottom:0;
  left: 50%;
}
/*fine disposizione elementi*/

/*elementi di interazione*/
img:hover{
  z-index: 0;
}
.heart:hover {
  color: darkred;
  z-index:1
}

/*fine elementi di interazione*/
